/*
  Make sure to have 'tile.png' and 'end.png' in the 'public' directory.
  'tile.png' is the repeating starry background.
  'end.png' is the non-repeating image with clouds and mountains at the bottom.
*/
html {
    min-height: 100vh;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #4b73a7;
    background-image: url("/end.webp"), url("/tile.webp");
    background-repeat: no-repeat, repeat-y;
    background-position:
        center bottom,
        center top;
    background-size:
        100% auto,
        100% auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.container {
    padding-bottom: 40vh;
}
