---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h2>About</h2>
    <p>
        Hello! You can call me xzat. Currently studying phyics (electronics and
        semiconductor) somewhere in Malaysia. I have a lot of interests other
        than physics, like tennis, Japanesese language (N5, otw N3) and
        photography.
        <br /><br />
        Facts about me:
    </p>
    <ul>
        <li>Favourite anime is Attack on Titan and Takopii's Original Sin</li>
        <li>Favourite tennis player is Jannik Sinner</li>
        <li>Currently trying to make optical fiber temperature sensor</li>
        <li>
            Used to be a wordcel back in school, now my mind fully operate as
            shape rotator. Trying to balance both right now.
        </li>
    </ul>
</Layout>
