---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <h2>Home</h2>
    <p>
        This is where the main page content will go, depending on what the user
        clicks.
    </p>
</Layout>
