---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <h2>Home</h2>
    <p>
        This is where the main page content will go, depending on what the user
        clicks.
    </p>
    <p>Scroll down to see the landscape at the bottom!</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
        a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
        molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
        Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium
        a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra
        tempor. Cras vestibulum bibendum lorem. Pellentesque commodo massa a
        justo.
    </p>
    <p>
        Praesent ut quam. In hac habitasse platea dictumst. Integer lorem. In
        tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
        eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
        eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat
        a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
        rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur
        ullamcorper ultricies nisi. Nam eget dui.
    </p>
    <p>
        Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
        quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam
        nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec
        odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis
        faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
        tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales
        sagittis magna.
    </p>
    <p>
        Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis
        gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum
        purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam
        accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium
        turpis et arcu.
    </p>
    <p>
        Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis,
        ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
        consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus
        ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat
        pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum.
        Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat,
        pede.
    </p>
</Layout>
