---
---
<div class="box">
    <h3>Navigation</h3>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</div>
<style>
    h3 {
        margin-top: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        margin-bottom: 5px;
    }
    a {
        color: #0f0;
        text-decoration: none;
        display: block;
        padding: 5px;
    }
    a:hover {
        background-color: #0f0;
        color: #000;
    }
</style>
