---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
import "../styles/background.css";
import "../styles/fonts.css";

const { title, noBox = false } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title || "xzat's place"}</title>
    </head>
    <body>
        <div class="container">
            <header class="box header">
                <h1>Welcome to xzat's place</h1>
            </header>

            <div class="content-wrapper">
                {
                    noBox ? (
                        <main class="main-content no-box">
                            <slot />
                        </main>
                    ) : (
                        <main class="box main-content">
                            <slot />
                        </main>
                    )
                }

                <aside class="sidebar">
                    <Navigation />
                    <div class="box">
                        <h3>Contact and Social Media</h3>
                        <ul>
                            <li>
                                <a
                                    href="https://twitter.com/007xzat"
                                    target="_blank"
                                    rel="noopener noreferrer">Twitter</a
                                >
                            </li>
                            <li>
                                <a href="mailto:aqilyusri@proton.me">Email</a>
                            </li>
                            <li>
                                <a
                                    href="https://github.com/AQLYSR"
                                    target="_blank"
                                    rel="noopener noreferrer">GitHub</a
                                >
                            </li>
                            <li><a href="/linkedin">LinkedIn</a></li>
                        </ul>
                    </div>
                </aside>
            </div>

            <footer class="footer">
                <span>You have reached the end <br /> &#169; 2025 xzat</span>
            </footer>
        </div>
    </body>
</html>
